<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cal_first.css') }}" >
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <div id="dis_box">
    <label id="display">{{ dis }}</label>
    </div>
    <form method="post" action="/">
        <div id="buttons">
            <button type="submit" id="cal_buttons" value="+" name="+">+</button>
            <button type="submit" id="cal_buttons" value="-" name="-">-</button>
            <button type="submit" id="cal_buttons" value="*" name="*">×</button>
            <button type="submit" id="cal_buttons" value="/" name="/">÷</button>
            <button type="submit" id="cal_buttons" value="1" name="1">1</button>
            <button type="submit" id="cal_buttons" value="2" name="2">2</button>
            <button type="submit" id="cal_buttons" value="3" name="3">3</button>
            <button type="submit" id="clear" value="C" name="C">C</button>
            <button type="submit" id="cal_buttons" value="4" name="4">4</button>
            <button type="submit" id="cal_buttons" value="5" name="5">5</button>
            <button type="submit" id="cal_buttons" value="6" name="6">6</button>
            <button type="submit" id="cal_buttons" value="7" name="7">7</button>
            <button type="submit" id="cal_buttons" value="8" name="8">8</button>
            <button type="submit" id="cal_buttons" value="9" name="9">9</button>
            <button type="submit" id="eq" value="=" name="=">=</button>
            <button type="submit" id="zero" value="0" name="0">0</button>
            <button type="submit" id="dot" value="." name=".">.</button>
        </div>
    </form>
</body>
</html>